body {
    font-family: 'Vazirmatn', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}


.logo-header {
    display: block;
    margin: 30px auto 0;
    width: 85px;
    height: auto;
}

.banner {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#img1 {
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-top: 75px;
}

#img2 {
    width: 100%;
    height: 350px;
    margin-top: -85px;
    object-fit: cover;
}

.fa-tags {
    font-size: 32px;
    padding: 0 10px;
}

.par1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

.ord-btn {
    margin-top: 35px;
    text-align: center;
}

.ord-btn a {
    background: rgb(37,49,109);
    background: linear-gradient(0deg, rgba(37,49,109,1) 0%, rgba(100,92,170,1) 81%);
    border-radius: 4px;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

.ord-btn a:hover {
    background: rgb(133,14,53);
    background: linear-gradient(0deg, rgba(133,14,53,1) 0%, rgba(166,35,73,1) 66%);
}

.Parent {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

.child1 {
    width: 50%;
    height: 200px;
    text-align: right;
    margin: 80px 15px 10px;
    color: #400D51;
}

.child1 a {
    text-decoration: none;
    color: #000;
}

.child1 h2 {
    margin-bottom: 5px;
}

.fa-chevron-left {
    font-size: 14px;
    margin-right: 5px;
}

.child2{
    margin: 0 10px;
    width: 50%;
    padding: 10px;
    background: rgb(175,1,113);
    background: linear-gradient(0deg, rgba(175,1,113,1) 0%, rgba(121,2,82,1) 43%, rgba(76,0,51,1) 100%);
    -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.05); 
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.05);
    border-radius: 8px;
    text-align: right;
    color: #ffffff;
    height: 200px;
}

.child2 p {
    color: #d8d8d8
}

.child3 {
    margin: 0 10px;
    width: 50%;
    padding: 10px;
    background: rgb(253,202,29);
    background: linear-gradient(0deg, rgba(253,202,29,1) 55%, rgba(252,176,69,1) 100%);
   -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.05); 
    box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.05);
    border-radius: 8px;
    text-align: right;
    color: #ffffff;
    height: 200px;
}

.child3 p {
    color: #3a3a3a
}

.cell2 {
    margin-top: 80px;
}

.cell3 {
    margin-top: -85px;
}

.cell4 {
    margin-top: 15px;
}

.footer {
    margin-top: -75px;
    background-color: ghostwhite;
    border-color: rgba(169, 169, 169, 0.301);
    border-style: solid;
    border-width: 1px 0 0 0;
    font-size: 13px;
    padding: 7px 10px;
    text-align: center;
}

.social-icons {
    display: inline-block;
    font-size: 24px;
    padding: 0 8px;
    color: black;
}

.social-icons:hover {
    color: #afd22d;
}

.logo-footer {
    margin: 10px 0 -15px;
    width: 50px;
    height: auto;
}

.tel {
    text-decoration: none;
    color: #000;
}
.footer-p {
    margin-top: -10px;
}
